* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px 10px;
  position: sticky;
}
.left {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 180px;
}
.left img {
  height: 40px;
}
.left input {
  width: 500px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 15px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="%23999" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>')
    no-repeat 12px center;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.right button {
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  background: white;
  color: #333;
}
.right select {
  border: none;
  background: transparent;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 10px;
}
.secnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 150px;
  border-top: 1px solid #eee;
  font-size: 14px;
  font-weight: 500;
}
.left1,
.right1 {
  display: flex;
  gap: 25px;
}
.left1 p,
.right1 p {
  cursor: pointer;
  padding: 5px;
  position: relative;
}
/* .main1 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
}
.opt {
  display: flex;
}
.left2 {
  display: grid;
}
.card {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 10px;
}
.left2 h1 {
  font-size: 30px;
  font-weight: 600;
  color: #222;
  margin-bottom: 18px;
}
.div1 {
  width: 300px;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 0 10px;
}

.right2 h1 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}
.play {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}
.play button,
.div1 p {
  background: #fff;
  border: 1px solid #ddd;
  padding: 7px 14px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 500;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.cards > div {
  width: 250px;
  font-size: 30px;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(83, 31, 31, 0.08);
  cursor: pointer;
}
.cards > div > img {
  width: 300px;
  height: 450px;
} */
main {
  display: grid;
  grid-template-columns: 300px 1fr;
  border: 2px solid red;
}

.card {
  border: 2px solid green;
}

.right2 {
  border: 2px solid yellowgreen;
}
.cards > div > img {
  width: 300px;
  height: 400px;
  padding-left: 30px;
}
